<div class="header">
  <div class="container">
    <div class="row">
      <a class="logo">MOCHIMONO</a>
    </div>
  </div>
</div>

<!--headerNav-->
<div class="headerNav">
  <div class="container">
    <ul class ="table-ul category-tabs">
      <li><%= link_to("衣服","#") %></li>
			<li class="active"><%= link_to("TOP","#") %></li>
			<li><%= link_to("日用品","#") %></li>
      <li><%= link_to(" 家電","#") %></li>
    </ul>
  </div>
</div>
<!--//headerNav-->

<!--headerNav-->
<!--//headerNav-->
