<div>

   <div class=  "container">
     <div class = "row">
       <div class = "cal-md-6  text-center">
           <%= render 'partial/navbar' %>
       </div>
     </div>
   </div>
</div>

<h1>TOP</h1>
